.titulli{
    color:aqua;
    font-family: 'Courier New', Courier, monospace;

}
.nentitulli{
    color:rgb(14, 195, 250);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}